/**
 * React Static Boilerplate
 * https://github.com/koistya/react-static-boilerplate
 *
 * Copyright © 2015-2016 Konstantin Tarkus (@koistya)
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@media screen and (max-width: 1024px) {
  .content {
    padding: 0 16px;
  }
}


.content :global .mdl-menu{
      min-width: 20em;
}
.content :global .mdl-menu__container.is-visible{
      padding: 1em;
}

.content :global .ais-ClearAll__root{
      margin: 1em;
}

.content :global .mdl-card--expand{
      background-color: #B388FF !important;
}

.content :global .mdl-layout__header-row {
background-color: #673AB7; /* Material design color recommended: Deep Purple*/
}
.content :global .mdl-mini-footer {
background-color: #673AB7; /* Material design color recommended: Deep Purple*/
}
